body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Radio Canada", sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Start of mobile navbar*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.active {
  color: white;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
span {
  font-size: 30px;
  cursor: pointer;
  color: white;
  display: none;
}
@media screen and (max-width: 767px) {
  span {
    display: block;
    color: white;
    margin-top: 0px;
    margin-right: -70px;
  }
}
@media screen and (max-width: 767px) {
  .navbarright{
    margin-top: 0px;
    margin-right: -70px;
  }
}
@media screen and (max-width: 767px) {
  .navbarleft{
    margin-top: -20px;
    margin-left: -70px;
  }
}
/* end of mobile navbar*/

/* Start of navbar*/
button {
  border: 0;
}
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 20px;
  width: max-content;
  height: max-content;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}
.dropbtn:hover{
  border: 2px solid blueviolet;
  background-color: transparent;
  color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px blueviolet;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  margin-left: 180px;
  margin-top: 50px;
  position: overlay;
  background-color: #5C10BC;
  padding-bottom: 10px;
  border-radius: 10px 10px 10px 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 100%;
  height: max-content;
  margin-left: 15px;
  padding: 10px;
  box-shadow: 0px 4px 6px #5C10BC;
  border-radius: 10px 10px 10px 10px;
  display: block;
  margin-top: 15px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  height: 47px;
}
.navbarcenter {
  display: flex;
}
@media screen and (max-width: 767px) {
  .navbarcenter{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .jointheteamBtn{
    display: none;
  }
}
.navbarleft {
  margin-top: -10px;
}
.navbarcenter a {
  background: transparent;
  color: white;
  font-size: 20px;
  width: max-content;
  height: max-content;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}
.navbarcenter a:hover {
  border: 2px solid blueviolet;
  background-color: transparent;
  color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px blueviolet;
}
.jointheteamBtn {
  border: 2px solid #5C10BC;
  color: white;
  font-size: 20px;
  width: max-content;
  height: max-content;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px 10px 10px 10px;
}
.navbarright :hover {
  background-color: #5C10BC;
  color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 4px 6px #5C10BC;
}
/* end of navbar*/

/* Start of section*/
section {
  height: 460px;
  width: 100%;
  text-align: center;
}
section h1 {
  font-size: 75px;
  line-height: 20px;
}
section p {
  margin-top: 70px;
  font-size: 20px;
  line-height: 30px;
}
.getstartedbtn{
  background-color: #5C10BC;
  color: white;
  font-size: 20px;
  width: 140px;
  height: max-content;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 70px;
}
/* end of section*/

/* Start of section1*/

/* end of section1*/

/* Start of section2*/

/* end of section2*/
